<h2>Thanks for joining!</h2>

<div class="row">
	<div class="span12">
		<p>If this is your first time here, you can run over to <a href="<%= track_url %>">Track</a> and take the first step to becoming a master ninja by logging your first workout.</p>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>If you'd like to review your past workouts and see your other information, you can head over to the <a href="<%= user_url(current_user) %>">Profile</a> page.</p>
	</div>
</div>