<h5>Thanks for joining us here at Way of the Gymja!</h5>

<p>If this is your first time here, you can run over to <a href="<%= track_url %>">Track</a> and take the first step to becoming a master ninja by logging your first workout.</p>

<p>If you'd like to review your past workouts and see your other information, you can head over to the <a href="<%= user_url(current_user) %>">Profile</a> page.</p>