<script>
	$(document).ready(function(){
		new WayOfTheGymja.Routers.Tracker({
      topLevelElement: $('#backbone-content')
    });
    WayOfTheGymja.initialize();
  });
</script>

<div class="row" id="backbone-content">
</div>