<form action="new workout" encoding="utf8">
	<div id="workout-activities">
		<div class="row">
			<div class="span8">
				<label for="workout_date">Date: </label>
				<input type="date" name="workout[logged_date]" id="workout_date"
				value="<%= date %>"></input>
			</div>
		</div>
	</div>
	<div class="drop-spot text-center"><h5>Drag Activity Here to Add...</h5></div>
	<input class="btn submit" type="submit" value="Log Workout"></input>
</form>