<form action="not gonna happen" encoding="utf8">
	<div id="workout-activities">
		<div class="row">
			<div class="span8">
				<label for="workout_date">Date: </label>
				<input type="date" name="workout[logged_date]" id="workout_date"
				value="<%= date %>"></input>
			</div>
		</div>
	</div>
	<input type="submit" value="Log Workout"></input>
</form>