#content-selector {
	margin-top: 10px;
	list-style: none;
}

.user-attributes {
	color: white;
	background-color: #384044;
	padding-top: 5px;
	padding-bottom: 5px;
}

.workout {
	background-color: #FF8400;
	padding: 25px;
	margin-top: 10px;
	border-radius: 5px;
	border: solid 1px #384044;
}

.content {
	background-color: #f7f2e9;
	padding-bottom: 5px;
}

body {
	position: absolute;
	left: 25px;
	right: 25px;
}

.drop-spot {
	min-height: 40px;
	border: solid gray 1px;
	min-width: 100%;
}

.submit {
	margin-top: 10px;
}

.footer {
	background-color: #3B4044;
	color: white;
	padding: 5px;
}

html {
	background-color: #3B4044;
}