#content-selector {
	margin-top: 10px;
	list-style: none;
}

#activity-list {
	padding-left: 10px;
}

#content-selector>li {
	font-size: 18px;
}

.user-attributes {
	color: white;
	background-color: #3B4044;
	padding-top: 5px;
	padding-bottom: 5px;
	width: inherit;
}

.workout {
	color: #494948;
	background-color: #FF8400;
	padding: 25px;
	margin-top: 10px;
	border-radius: 5px;
	border: solid 1px #3B4044;
}

.content {
	background-color: #f7f2e9;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	min-height: 400px;
}

body {
	position: absolute;
	left: 25px;
	right: 25px;
	min-width: 800px;
}

.drop-spot {
	min-height: 40px;
	border: solid gray 1px;
	min-width: 100%;
}

.submit {
	margin-top: 10px;
}

.footer {
	background-color: #3B4044;
	color: white;
	padding: 5px;
}

.logo {
	height: 200px;
	width: 200px;
}